body {
    padding-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft JhengHei";
}

.content {
    padding-top: 25px;
    margin: 0 auto;
    width: 822px;
}

.content button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft JhengHei";
}

/**/
.header-img {
    background-image: url('../img/main.png');
    background-size: auto 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5A623;
    height: 260px;
}
.header-mobile {
    display: none;
    color: black;
    font-weight: bold;
    font-size: 28px;
    background-color: #F5A623;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.counter-bar {
    text-align: center;
    background-color: #4A4A4A;
    overflow-x: hidden;
}
.counter-bar-content {
    text-align: left;
    color: #CECECE;
    background-color: #4A4A4A;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    width: 822px;
    margin: auto;
}
.counter-number {
    color: #F5A623;
    font-size: 24px;
}

.btn-cf {
    color: #fff;
    background-color: #F5A623;
    background-image: linear-gradient(to bottom, #F5A623, #F5A623);
    text-shadow: none;
    margin-bottom: 10px;
    width: 100px;
}
.btn-cf:hover {
    background-color: #F5A623;
    color: #222;
}
.btn-cf.disabled {
    background-color: #F5A623;
    color: #eee;
}
/**/

.submit,.no-content {
    /* margin-bottom: 10px; */
}
a:hover {
    cursor: pointer;
}
.tip {
    width: 822px;
    margin: auto;
    text-align: center;
}
.tip-text {
    color: #bbb;
    display: inline-block;
    padding: 0;
    width: 100px;
    text-align: center;
}
.tip-autocomplete {
    color: #bbb;
    padding: 0 10px;
}
.quick-answer {
    display: none;
}
.quick-answers {
    margin-top: 20px;
    margin-bottom: 10px;
}
.qa-group {
    margin-bottom: 3px;
}
.autocomplete {
    display: inline;
    /* margin-left: 30px; */
}
.autocomplete .checkbox{
    margin-bottom: 6px;
}
.ans {
    background-color: transparent !important;
    width: 240px;
}
.ans-shadow {
    position: absolute !important;
    z-index: -1;
    background-color: #fff !important;
    color: #c8c8c8 !important;
    width: 240px;
}
.cell-info {
    color: #bbb;
}
.cell-image {
    padding-bottom: 15px;
}

.related-link {
    width: 822px;
    margin: auto;
}
.related-link div {
    margin-top: 20px;
    margin-bottom: 5px;
}
.related-link ul {
    margin: 0;
    padding: 0;
}
.related-link ul li {
    list-style-type: none;
}
@media (max-width: 860px) {
    .counter-bar-content {
        width: 700px;
    }
    .content {
        width: 700px;
    }
    .header-img {
        background-size: auto 220px;
        height: 220px;
    }
    .related-link {
        width: 700px;
    }
}
@media (max-width: 754px) {
    .counter-bar-content {
        width: 600px;
    }
    .content {
        width: 600px;
    }
    .header-img {
        background-size: auto 190px;
        height: 190px;
    }
    .related-link {
        width: 600px;
    }
}
@media (max-width: 575px) {
    .counter-bar-content {
        width: 368px;
    }
    .content {
        width: 368px;
    }
    .header-img {
        display: none;
    }
    .header-mobile {
        display: block;
    }
    .related-link {
        width: 368px;
    }
    .button-group {
        display: block;
        text-align: center;
    }
    .btn-cf {
        width: 120px;
        height: 36px;
        font-size: 18px;
    }
    .tip {
        width: 368px;
    }
    .tip-text {
        width: 120px;
    }
    .ans {
        width: 354px;
    }
    .ans-shadow {
        width: 354px;
    }
}
